<div class="comments-row">
  <mat-form-field>
    <input [formControl]="commentControl" matInput placeholder="Laisser un commentaire" type="text">
  </mat-form-field>
  <button (click)="onLeaveComment()" color="primary" mat-icon-button>
    <mat-icon>send</mat-icon>
  </button>
</div>

<mat-list *ngIf="comments.length">
  <h2 matSubheader>Commentaires</h2>
  <mat-list-item *ngFor="let comment of comments">
    <span mat-line>{{comment.comment}}</span>
    <span mat-line>{{comment.createdDate | timeago}}</span>
  </mat-list-item>
</mat-list>
